<?xml version='1.0' encoding='UTF-8'?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %logger - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<File>/usr/local/logs/webdemo.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %logger - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="com.spring.demo" additivity="false">
		<level value="debug" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="log" />
	</root>
</configuration>